
<header style="height : 132px" class="header">
            <div class="grid wide">
                <!-- NAVBAR -->
                <nav style="height : 47px" class="header_navbar hide-on-mobile-tablet">
                    <!-- Nav trái -->
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item header_navbar-item--has-qr header_navbar-item--separate">
                            <p style="margin:0;font-weight:900;font-size:1.8rem;">
                            <a style="text-decoration:none;color:white;" href="/">Trang chủ</a>
                        </p>
                            <!-- HEADER QR -->
                            <div class="header_qr">
                                <img src="/img/d91264e165ed6facc6178994d5afae79.png" alt="" class="header_qr-img">
                                <div class="header_qr-apps">
                                   <a href="" class="header_qr-link">
                                        <img src="/img/appstore.png" alt="" class="header_qr-link-img">
                                    </a>
                                    <a href="" class="header_qr-link">
                                        <img src="/img/adidas1.jpg" alt="" class="header_qr-link-img">
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                        </li>
                        <li class="header_navbar-item">
                            <span class="header_navbar-tile--no-pointer">
                                <p style="margin:0;font-weight:600;font-size:1.7rem;">Kết nối</p>
                            </span>
                            <a href="https://www.facebook.com/nhdk2k" class="header_navbar-icon-link">
                                <i class="header_navbar-icon fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/khoa1647" class="header_navbar-icon-link">
                                <i class="header_navbar-icon fa-brands fa-instagram"></i>
                            </a>

                        </li>
                    </ul>
                    <!-- Nav phải -->
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item header_navbar-item-has-noti">
                            <a href="" class="header_navbar-item-link">
                                <i class="header_navbar-icon fa-solid fa-bell"></i>
                                <p style="margin:0;font-weight:600;font-size:1.6rem;">Thông báo</p>
                            </a>
                            <!-- Notification -->
                            <div class="header_notify ">
                                <!-- Header Noti -->
                                <header class="header_notify-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <!-- Arr Noti -->
                                <ul class="header_notify-list">
                                    <!-- Item1 -->
                                </ul>
                                <div class="header_notify-footer">
                                    <a href="" class="header_notify-footer-btn">Xem tất cả</a>
                                </div>

                            </div>
                            <!--  -->
                        </li>
                        <li class="header_navbar-item">
                            <a href="" class="header_navbar-item-link">
                                <i class="header_navbar-icon fa-solid fa-circle-question"></i>
                                <a style="text-decoration:none;color:white;" href="https://support.google.com/chrome/?p=help&ctx=keyboard#topic=7439538">
                                <p style="margin:0;font-weight:600;font-size:1.6rem;">Trợ giúp</p>
                            </a>
                            </a>
                        </li>
                       {{#compare nguoidung 1}}
                        <li class="header_navbar-item header_navbar-user">
                             <img src="/img/user.jpg" alt="" class="header_navbar-user-img">
                             <span class="header_navbar-user-name">
                                <span>{{user}}</span>
                             </span>
                             <ul class="header_navbar-user-menu">
                                 <li class="header_navbar-user-item">
                                     {{!-- <a href="">Tài khoản của tôi</a> --}}
                                     <a href="">Tài khoản của tôi</a>

                                 </li>
                                 <li class="header_navbar-user-item">
                                     <a href="index.php?controller=bill&action=showBill">Đơn mua </a>                                
                                 <li class="header_navbar-user-item">
                                 <li class="header_navbar-user-item">
                                     <a href="index.php?controller=Cart&action=addCart">Giỏ hàng </a>                                
                                 <li class="header_navbar-user-item">
                                     <a href="/user/logout">Đăng xuất</a>                                
                                 </li>
                             </ul>
                         </li>
                        {{else}}
                            <li class="header_navbar-item header_navbar-item--strong header_navbar-item--separate btnregister">
                                <p style="margin:0;font-weight:700;font-size:1.6rem;">Đăng kí</p>
                             </li>
                             <li  class="header_navbar-item header_navbar-item--strong btnlogin">
                                <p style="margin:0;font-weight:700;font-size:1.6rem;">Đăng nhập</p>
                            </li>
                             
                       {{/compare}}
                    </ul>
                    <!--  -->
                </nav>
                <!-- SEARCH -->
                <div class="header-with-search ">
                    <label for="mobile-search-checkbox" class="header_mobile-search">
                        <i class="fas fa-search"></i>
                    </label>
                    <!-- LOGO -->
                    <div class="header_logo ">
                        <img src="/img/logo.jpg" class="header_logo-img">
                    </div>
                    
                    <input type="checkbox" hidden id="mobile-search-checkbox" class="header_search-checkbox">
                    <!-- BODY SEARCH -->
                    <form action="/findproduct"method="get">
                        <div class="header_search ">
                            <div class="header_search-input-wrap">
                                <input type="text" name="find" class="header_search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                                <!-- HISTORY -->
                                {{!-- <div class="header_search-history">
                                    <h3 class="header_search-history-heading">Lịch sử tìm kiếm</h3>
                                    <ul class="header_search-history-list">
                                        <li class="header_search-history-item">
                                            <a href="" class="">Giày Nike</a>
                                        </li>
                                        <li class="header_search-history-item">
                                            <a href="" class="">Giày Adidas</a>
                                        </li>
                                        <li class="header_search-history-item">
                                            <a href="" class="">Giày Hot</a>
                                        </li>
                                    </ul>
                                </div> --}}
                            </div>
                            <button type="submit" class="header_search-btn">
                                <i class="header_search-btn-icon fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>     
                </div>
            </div>
        </header>
        <!-- login -->
        <div class="modal">
        <!-- OVERPLAY -->
        <div class="modal_overplay">
            
        </div>
        <!-- BODY -->
            <div class="modal_body">
                <div class="col-12">
                    <h1 style="font-size:36px;margin-left: 200px;font-weight: 700;">Đăng nhập</h1>
                    <form action="/user/login" method="post">
                        <div class="auth-form"> 
                            <div class="auth-form_container"> 
                                <!-- header -->
                                    <div class="auth-form_header">
                                        <h3 class="auth-form_heading">ĐĂNG NHẬP</h3>
                                        <span class="auth-form_switch-btn">Đăng ký</span>
                                    </div>  
                                <!-- thẻ input -->
                                    <div class="auth-form_from">
                                        <div class="auth-form_group">
                                            <input type="text" id="id" class="auth-form_input" name="inputacc" placeholder="Nhập tài khoản của bạn">
                                        </div>
                                        <div class="auth-form_group">
                                            <input type="password" id="hoten" class="auth-form_input" name="inputpass" placeholder="Nhập mật khẩu của bạn">
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="auth-form_aside"> 
                                    <div class="auth-form_help">
                                                <a href="" class="auth-form_help-link auth-form_help-forget">Quên mật khẩu</a>
                                                <span class="auth-form_help-separate"></span>
                                                <a href="" class="auth-form_help-link">Cần trợ giúp ?</a>
                                    </div>
                                    </div>
                                        <!-- nút cuối -->
                                        <div class="auth-form_control">
                                            <button class="btn btn-close">TRỞ LẠI</button>
                                            <button type="submit" name= "login" class="btn btn--primary">ĐĂNG NHẬP</button>
                                        </div>

                                </div>
                            </div>

                                    <div class="auth-form_socials">
                                    <a href="" class="auth-form_socials-facebook btn btn--sizeS btn--with-icon">
                                        <i class="auth-form_socials-icon fa-brands fa-facebook"></i>
                                        <span class="auth-form_socials-span">Đăng nhập với Facebook </span>
                                    </a>
                                    <a href="" class="auth-form_socials-google btn btn--sizeS btn--with-icon">
                                        <i class="auth-form_socials-icon fa-brands fa-google"></i>
                                        <span class="auth-form_socials-span">Đăng nhập với Google </span>
                                    </a>
                                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
            
    </div>
    <!-- register -->
        <div class="modal"> 
        <!-- OVERPLAY -->
        <div class="modal_overplay ">
            
        </div>
        <!-- BODY -->
        <div class="modal_body">
          <!-- Register Form -->
        <div class="auth-form">
            <div class="auth-form_container">
            <h1 style="font-size:36px;margin-left: 200px;font-weight: 700;">Đăng kí</h1>
            <!--  Heading Đnhập Đkí -->
            <!-- Form đăng kí -->
        <form action="/user/register" method="post">
            <div class="auth-form_header">
                <h3 class="auth-form_heading">Đăng Ký</h3>
                <span class="auth-form_switch-btn">Đăng nhập</span>
            </div>

            <!-- Các Thẻ input -->
            <div class="auth-form_from">
                <div class="auth-form_group">
                    <input type="text" class="auth-form_input" name="Acc" placeholder="Tên đăng nhập">
                </div>
                
                <div class="auth-form_group">
                    <input type="password" class="auth-form_input" name="Pass" placeholder="Mật khẩu">
                </div>

                <div class="auth-form_group">
                    <input type="password" class="auth-form_input" name="Passn" placeholder="Nhập lại mật khẩu ">
                </div>
              </div>

        <!-- Text Police -->
        <div class="auth-form_aside">
            <p class="auth-form_police-text">
                Bằng việc đăng kí bạn đã đồng ý với Shopee về <br>
                <a href="" class="auth-form_police-link">Điều khoản dịch vụ</a>
                <a href="" class="auth-form_police-link">Chính sách bảo mật</a>
            </p>
        </div>

        <!-- Nút ĐKi và ĐNhập -->
        <div class="auth-form_control">
            <button class="btn btn-close">TRỞ LẠI</button>
            <button name="register" class="btn btn--primary">ĐĂNG KÍ</button>
        </div>
    </div>
    <!-- Nút GG và FB -->
    <div class="auth-form_socials">
        <a href="" class="auth-form_socials-facebook btn btn--sizeS btn--with-icon">
            <i class="auth-form_socials-icon fa-brands fa-facebook"></i>
            <span class="auth-form_socials-span">Kết nối với Facebook </span>
        </a>
        <a href="" class="auth-form_socials-google btn btn--sizeS btn--with-icon">
            <i class="auth-form_socials-icon fa-brands fa-google"></i>
            <span class="auth-form_socials-span">Kết nối với Google </span>
        </a>
    </div>
    </form>
    </div>
        </div>
    </div>
    <script>
        const btnregister=document.querySelector(".btnregister");
        const btnlogin=document.querySelector(".btnlogin");
        const modals=document.querySelectorAll(".modal");
        const bodymodals=document.querySelectorAll(".modal_body");
        const btnclose=document.querySelector(".btn-close");
        btnlogin.onclick=function(){
            
            modals[0].classList.add('openmodal');
            
        }
        btnregister.onclick=function(){
            modals[1].classList.add('openmodal')

        }
        modals.forEach((modal)=>{
            modal.onclick=function(){
                document.querySelector(".modal.openmodal").classList.remove('openmodal');
                document.querySelector(".modal.openmodal").classList.remove('openmodal');
    
            }
        })
        bodymodals.forEach((bodymodal)=>{
            bodymodal.addEventListener('click',function(event){
                event.stopPropagation();
            })
            

        })
        btnclose.onclick=function(){
           
        }
    </script>
</header>
<div class="row sm-gutter app_content">
    <div class="col l-2 m-0 c-0">
            <nav class="category">
                <h3 class="category_heading">
                    <i class="category_heading-icon fa-solid fa-list"></i>
                    Danh mục
                </h3>
                <ul class="category-list ">
                {{#each category}}
                <form action="/type" method="post">
                         <li class="category-item ">
                            <input type="hidden" name="idnhom" value="{{this.idNhom}}">
                            <button style="border: none;" type="submit"class="category-item__link">{{this.tenNhom}}</button>
                        </li>
                </form>
                {{/each}}
                    <li class="category-item ">     
                        <a href="/" class="category-item__link">Tất cả</a>
                    </li>
        
                </ul>
            </nav>
    </div>
<div class="col l-10 m-12 c-12">
<div class="home-product ">
<div class="home-filter hide-on-mobile-tablet">
    <span class="home-filter_label">Sắp xếp theo</span>
    <a href="/randomproduct" class="home-filter_btn btn">Ngẫu nhiên</a>
    <a href="/newproduct" class="home-filter_btn btn ">Mới nhất</a>
    <div class="select-input">
        <span class="select-input_label">Giá</span>
        <i class="select-input_icon fa-solid fa-chevron-down"></i>
        <ul class="select-input_list">
            <li class="select-input_item">
                <a href="/minproduct" class="select-input_item-link">Giá: Thấp đến cao</a>
            </li>
            <li class="select-input_item">
                <a href="/maxproduct" class="select-input_item-link">Giá: Cao đến thấp</a>
            </li>
        </ul>
    </div>
    
    <!-- <div class="home-filter_page">
        <span class="home-filter_page-num">
            <span class="home-filter_page-current">1</span>
            /14
        </span>

        <div class="home-filter_page-control">
            <a href="" class="home-filter_page-btn home-filter_page-btn--disable">
                <span class="home-filter_page-icon"><</span>
            </a>
            <a href="" class="home-filter_page-btn">
                <span class="home-filter_page-icon">></span>
            </a>
        </div>
    </div> -->
</div>
<nav class="mobile-category">
    <ul class="mobile-category_list">
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
        <li class="mobile-category_item">
            <a href="" class="mobile-category_link">Dụng cụ tiện ích</a>
        </li>
    </ul>
        
</nav>
    <div  class="row sm-gutter">
        {{#each datapage}}
        <div class="col l-2-4 m-4 c-6">
            <a id="product" type="button" class="home-product-item js_product-item" value="{{this.idSP}}"onclick = "getProduct({{@index}})">
                    <div class="home-product-item_img" style="background-image: url(/img/{{this.hinhSP}});"></div>
                        <p  style="display: none;" class="js_img-product">/img/{{this.hinhSP}}</p>
                        <p  style="display: none;" class = "is_img-input">{{this.hinhSP}}</p>
                <h4 class="home-product-item_name">{{this.tenSP}}</h4>
                <div class="home-product-item_price">
                    <span class="home-product-item_price-old">{{this.giaSP}}đ </span>
                    {{!-- <span class="home-product-item_price-current">{{number_format(this.giaSP,0,".",",")}}đ</span> --}}
                    <span class="js_price" style="display: none">{{this.giaSP}}</span>
                </div>
                <div class="home-product-item_action">
                    <span class="home-product-item_like home-product-item_like--liked">
                        <i class="home-product-item_like-icon-empty fa-regular fa-heart"></i>
                        <i class="home-product-item_like-icon-fill fa-solid fa-heart"></i>
                    </span>
                    <div class="home-product-item_rating">
                        <i class="home-product-item_stargold fa-solid fa-star"></i>
                        <i class="home-product-item_stargold fa-solid fa-star"></i>
                        <i class="home-product-item_stargold fa-solid fa-star"></i>
                        <i class="home-product-item_stargold fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="home-product-item_sold">Đã bán ....</div>
                <div class="home-product-item_origin">
                    <span class="home-product-item_brand">Hiệu: 
                    <?php 
                    if($r['idNhom']==1){
                        echo "Nike";
                    }else if($r['idNhom']==2){
                        echo "Adidas";
                    }else{
                        echo "Khác";
                    }
                    ?>
                    </span>
                    <span class="home-product-item_country">Nước ngoài</span>
                </div>
                <div class="home-product-item_favourite">
                    <i class="fa-solid fa-check"></i>
                    <span>Yêu thích</span> 
                </div>
                <div class="home-product-item_sale-off">
                    <span class="home-product-item_sale-off-percent">10%</span>
                    <span class="home-product-item_sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
  
<script>
    
</script>
{{/each}}
    </div>
</div>
<!-- Phân trang -->
?>
<ul class="pagination home-product_pagination">
    <li class="pagination-item">
        <a href="index.php?page= <?php echo $prev ?>" class="pagination-item-link">
            <i class="pagination-item-icon fa-solid fa-chevron-left"></i>
        </a>
    </li>
    {{#for 1 (sum trang 1)}}
    <li class="pagination-item <?php if($i == $page){echo 'color-page';} ?>">
        <a href="/{{this}}" class="pagination-item-link " style="color:#333;font-weight:700;">
            {{this}}
        </a>
    </li>
    {{/for}}
    <li class="pagination-item">
        <a href="index.php?page= <?php echo $next ?>" class="pagination-item-link">
            <i class="pagination-item-icon fa-solid fa-chevron-right"></i>
        </a>
    </li>
</ul>
    </div>
    </div>
    <!-- model -->
<link rel="stylesheet" href="./Asset/css/detail.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="model_detail-of">
        <section class="detail_product">
            <div class="delete_model"><i class="fa-sharp fa-solid fa-minus"></i></div>
            <div class="detail_product__photo">
                <div class="detail_photo-container" style="max-height: 500px;">
                    <div class="detail_photo-main">
                        <div class="detail_controls">
                        <div class="star">
                            <i class="fas fa-star stari"></i>
                            <i class="fas fa-star stari"></i>
                            <i class="fas fa-star stari"></i>
                            <i class="fas fa-star stari"></i>
                            <i class="fas fa-star stari"></i>
                        </div>
                            <i class="material-icons"></i>
                        </div>
                        <img tyle="height: 300px;" src="" class="detail_product-img" alt="green apple slice">
                            {{!-- <img tyle="height: 300px;" src="" class="detail_product-img" alt="green apple slice"> --}}
                    </div>
                    <div class="detail_photo-album">
                        <ul class="detail_list-photo-album">
                            <li class="detail_photo-album-item"><img class="js_img-mini" src="" alt="green apple"></li>
                            <li class="detail_photo-album-item"><img class="js_img-mini" src="" alt="half apple"></li>
                            <li class="detail_photo-album-item"><img class="js_img-mini" src="" alt="green apple"></li>
                            <li class="detail_photo-album-item"><img class="js_img-mini" src="" alt="apple top"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="detail_product__info">
                <div class="detail_title">
                    <h1 class = "js_update-name"></h1>
                    <span class = "js_update-priceo"></span>
                </div>
                <div class="detail_price">
                     <span class = "js_update-pricen"></span>
                </div>
                <form action="" method="post" class="detail_variant">
                    <h3>SELECT A COLOR</h3>
                    <ul class="detail_variant-list" style="display:flex; justify-content: space-around;margin-left:-20px;margin-right:20px;">
                        <li>
                            <label style=" position: absolute;bottom: 42.7%;%;    margin-left: 22px; text-align:center;font-weight:700; font-size: 1.4rem;transform: translateY(-33px);    margin-bottom: -40px;">39</label>
                            <input  type="radio" name='size' value="39" style=" background-color:#c9cfcd;width:45px;height:40px;border:2px solid #000; " required>
                            </input>
                        </li>
                        <li>
                            <label style=" position: absolute;bottom: 42.7%;%;    margin-left: 22px; text-align:center;font-weight:700; font-size: 1.4rem;transform: translateY(-33px);    margin-bottom: -40px;">40</label>
                            <input type="radio" name='size'value="40"  style="background-color:#c9cfcd;width:45px;height:40px;border:2px solid #000;">
                            </input>
                        </li>
                        <li>
                            <label style=" position: absolute;bottom: 42.7%;%;     margin-left: 22px; text-align:center;font-weight:700; font-size: 1.4rem;transform: translateY(-33px);    margin-bottom: -40px;">41</label>
                            <input type="radio" name='size'value="45"  style="background-color:#c9cfcd;width:45px;height:40px;border:2px solid #000;">
                            </input>
                        </li>
                        <li>
                            <label style=" position: absolute;bottom: 42.7%;%;    margin-left: 22px; text-align:center;font-weight:700; font-size: 1.4rem;transform: translateY(-33px);    margin-bottom: -40px;">42</label>
                            <input type="radio" name='size'value="32"  style="background-color:#c9cfcd;width:45px;height:40px;border:2px solid #000;">
                            </input>
                        </li>
                        <input type="hidden" name="tenSP" value=""> 
                        <input type="hidden" name="giaSP" value="">
                        <input type="hidden" name="hinhSP" value="">
                    </ul>		
                <div class="detail_description">
                    <h3>Số lượng sản phẩm</h3>
                    <input style="margin-left:10px;height: 30px;width:75px;font-size: 20px;font-weight: 700;" class="detail_quantity" type="number" value="1" name="quantity" size="" >
                </div>
                <button name="addcart" type="submit" class="detail_buy--btn" style="display:flex;align-items:center;max-width:300px;">
                    <i style="font-size:20px;margin-right:15px;"  class="fas fa-shopping-cart carti"></i>
                    <p style="font-size:14px;">Thêm vào giỏ hàng</p>
                </button>
                </form>
            </div>
        </section>
    </div>
</body>
</div>
</div>
<!--  -->
<script>
    if ()
    alert('cc')
    const products = document.querySelectorAll('.js_product-item');
    const model = document.querySelector('.model_detail-of');
    const remove =document.querySelector('.delete_model');
    const modelContainer =document.querySelector('.detail_product');
        function showModelDtail () {
            model.classList.add('open')
        }
        function remModelDtail() {
            model.classList.remove('open');
        }
        for (const product of products) {
            product.addEventListener('click', showModelDtail)
        }
        remove.addEventListener('click', remModelDtail);
        model.addEventListener('click', remModelDtail);
        modelContainer.addEventListener('click', function(e) {
            e.stopPropagation();
        })
function getProduct(stt) {
    // Lấy sản phẩm
        let name = document.getElementsByClassName('home-product-item_name')[stt].innerHTML;
        let priceo = document.getElementsByClassName('home-product-item_price-old')[stt].innerHTML;
        let pricen = document.getElementsByClassName('home-product-item_price-old')[stt].innerHTML;
        let imgProduct = document.getElementsByClassName('js_img-product')[stt].innerHTML;
        let imgInput =document.getElementsByClassName('is_img-input')[stt].innerHTML;
    // Gán sản phẩm vừa lấy vào form 
        let updateImgProduct = document.getElementsByClassName('detail_product-img')[0].src = imgProduct;
        let updatePriceo =  document.getElementsByClassName('js_update-priceo')[0].innerHTML = "COD: " + priceo;
        let updatePricen =  document.getElementsByClassName('js_update-pricen')[0].innerHTML = "R$: " + pricen ;
        let updateName = document.getElementsByClassName('js_update-name')[0].innerHTML = name;
        var i = 0;
        while(i <= 3){
        let updateImgMini = document.getElementsByClassName('js_img-mini')[i].src = imgProduct;
        i++;
        }
     //   let updateNameSp = document.getElementsByName('tenSP')[0].value = name;
     //   let updatePriceSp = document.getElementsByClassName('js_price')[stt].innerHTML;
     //   let updatePrice = document.getElementsByName('giaSP')[0].value = updatePriceSp;
      //  let insertInputImg =document.getElementsByName('hinhSP')[0].value = imgInput;
}
</script>
